.header {
  width: 100%;
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--white-dim-01);
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: none;
}

.userBarBtn {
  display: none;
}

.burgerBtn {
  display: flex;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 13px;
}

.burgerIcon {
  stroke: var(--white);
  fill: none;
  width: 36px;
  height: 36px;
  transition:
    transform 0.2s ease,
    stroke 0.2s ease;
}

.burgerBtn:focus .burgerIcon {
  stroke: var(--green-neon);
}

.burgerBtn:active .burgerIcon {
  transform: scale(0.97);
}

.header.isPublic {
  border-bottom: none;
}

.header.isPublic .headerContent {
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 0;
}

@media screen and (min-width: 768px) {
  .burgerIcon {
    width: 44px;
    height: 44px;
  }

  .burgerBtn:hover .burgerIcon {
    stroke: var(--green-neon);
  }

  .header.isPublic .headerContent {
    padding-top: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .navigation {
    display: block;
  }

  .userBarBtn {
    display: block;
  }
  .burgerBtn {
    display: none;
  }

  .header.isPublic .headerContent {
    padding-top: 32px;
  }
}
